.navbar-container{
	position: relative;
	width: 100%;
	z-index: 1;
	top: 0;
}

.navbar{
	background-color: #E3EEF5;
}

.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(146, 155, 178, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-element , .navbar .navbar-element:hover{
	color: #929BB2;
}

.navbar-toggler{
	border: none;
}

.messages-wrapper{
	padding-top: 35px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 600px;
	padding-bottom: 50vh;
}

.message-container{
}

.sentinel{
	position: relative;
}

.message{
	position: relative;
	margin: 2.5vh 0 2.5vh 0;
	padding: 2em;
	box-shadow: 0px 0px 20px #D1D2D5;
}

.message .image-container-tombstone{
	padding: 0;
}

.message img {
	border-radius: 50%;
}

.message .user-image-tombstone{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: #D2DADD;
	object-fit: cover;
	border: 2px solid #8194A3;
}

.message-content{
	margin: 1em 0 0 0;
}

.message .user-image{
	width: 50px;
}

.message .time-stamp{
	color: #929096;
}

.message .user-message{
	margin-top: 1em;
}

.message-user-container {
	padding-left: 0;
}

.hide{
	height: 0;
	margin: 0;
	padding: 0;
	-webkit-transition: height 0.1s ease-out, margin 0.1s ease-out, padding 0.1s ease-out;
	transition: height 0.1s ease-out, margin 0.1s ease-out, padding 0.1s ease-out;
}

#messages-title{
	margin-left: 100px;
}

.message-animation {
	padding-top: 40px;
}
